body {
    margin: 0;
    background-color: black;
}

#myVideo {
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 30%;
    z-index: -1;

}

.logo {
    position: relative;
    top: 2px;
    left: -10px;
    width: 40px;
    height: 35px;

}

section {
    position: relative;
    top: -10px;
    height: 0px;
}